/* customizing font family = suiting preferences*/
/* :root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  
  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-light: rgb(192, 57, 57);
  --clr-dark: #303030;
  --clr-accent: #b109a3;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
} */


/* .row div{
  border: solid 2px silver;
  background-color: aqua;
} */


.app{
  padding: 100px;
}