


.app{
  margin-top: 55px;

}
.text >p {
  font-size: 2.3em;
  font-weight: 500;
  font-style: oblique;
  text-align: center;
}


.home{
  background-image: url(/src/img/home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.row{
  height:50vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-left: 20px; */
}


.social ul>li{
  font-size: 30px;
  margin-top: 50px;
list-style: none;
}

.contact-message, h6{
  margin-top: 100px;
  padding: 10px;
}

.col-sm-6 >h2{
  text-align: center;
 margin-top: 100px;
 height: 100vh;
 font-weight: 900;
}
/* 
.col-sm-6 >h2 span {
  font-style: italic;
 font-weight: 600;

} */

